open_ai_token: sk-WWEt2TQQwRwT5Q6R11erE3TerrY65E2w4q5y1t4T2TwqYYyQ
# open_ai_organization_id: "org-QWERTY123456asdfghzxcvbn"
bot_username: chatgptbot
owner_username: chatgptbotowner
token: 1234567890:4yr1EWqT31_wERrwTYR1e_1t3_4wr5tWr3y
